
.container{
    height: 45vh;
   position: relative;
   margin-top: 10rem;
}

.container img:first-child{
    object-fit: cover;
    border-radius: 2rem;

}
.mask{
    position: relative;
    height: 100vh;
    width: 100%;
}
.mask img{
    object-fit: cover;
    position: absolute;
    top: -5rem;
    right: -10rem;
    filter: drop-shadow(0 0 0.75rem rgb(207, 207, 207)); 
}

